<div class="slides slowFade">
    <div class="slide">
        <img src="https://i.pinimg.com/564x/96/60/67/966067745ebc931d6f720339e753749c.jpg" alt="img"/>
    </div>
    <div class="slide">
        <img src="https://i.pinimg.com/564x/31/99/ce/3199ce691824e3c4894ad442c558bcb3.jpg" alt="img"/>
    </div>
    <div class="slide">
        <img src="https://i.pinimg.com/564x/ce/0f/bc/ce0fbc6711c02e945cb7911eb6765131.jpg" alt="img"/>
    </div>
    <div class="slide">
        <img src="https://i.pinimg.com/564x/93/38/21/9338210c61dcbd103c7abba66283ee90.jpg" alt="img"/>
    </div>
</div>
